<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" title="more options">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Pidu", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    <li>@Html.ActionLink("Meist", "About", "Home")</li>
                    <li>@Html.ActionLink("Kontakt", "Contact", "Home")</li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Kutse peole", "Kutse", "Home")</li>
                        <li>@Html.ActionLink("Peod", "Peod", "Home")</li>
                        <li>@Html.ActionLink("Registreerimine peole", "RegistreeritudKylalisedPeol", "Home")</li>
                    }
                    @if (User.IsInRole("admin"))
                    {
                        <li>@Html.ActionLink("Külalised", "Guest", "Home")</li>
                        <li>@Html.ActionLink("Peod", "Peod", "Home")</li>                    
                        <li>@Html.ActionLink("Rollid", "Roll", "Home")</li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            @{
                string kuu = DateTime.Now.ToString("MMMM");
                string pidu = "";

                if (kuu == "jaanuar")
                {
                    pidu = "Uue aasta";
                }
                else if (kuu == "veebruar")
                {
                    pidu = "Valentiini päeva";
                }
                else if (kuu == "märts")
                {
                    pidu = "Naiste päeva";
                }
                else if (kuu == "aprill")
                {
                    pidu = "Raha päeva";
                }
                else if (kuu == "mai")
                {
                    pidu = "Töörahva";
                }
                else if (kuu == "juuni")
                {
                    pidu = "Lastekaitse päev";
                }
                else if (kuu == "juuli")
                {
                    pidu = "Ülemaailmne koertepäeva";
                }
                else if (kuu == "august")
                {
                    pidu = "Arbuusi päeva";
                }
                else if (kuu == "september")
                {
                    pidu = "Rahvusvaheline šokolaadipäeva";
                }
                else if (kuu == "oktoober")
                {
                    pidu = "Ülemaailmne kakao ja šokolaadi päeva";
                }
                else if (kuu == "november")
                {
                    pidu = "Musta reede";
                }
                else if (kuu == "detsember")
                {
                    pidu = "Jõulude";
                }

                <p>&copy; @DateTime.Now.Year  @kuu - @pidu pidu</p>
            }
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
