@model Kutse_App.Models.Kylaline
@using (Html.BeginForm())
{
    @Html.ValidationSummary()

    <div class="form-group">
        <label for="Nimi">Sisesta nimi:</label>
        @Html.TextBoxFor(x => x.Nimi, new { @class = "form-control" })
    </div>

    <div class="form-group">
        <label for="Email">Sisesta email:</label>
        @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
    </div>

    <div class="form-group">
        <label for="Tel">Sisesta telefon:</label>
        <div class="input-group">            
            @Html.TextBoxFor(x => x.Tel, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <label for="Tuleb">Sinu valik:</label>
        @Html.DropDownListFor(x => x.Tuleb,
                                  new[]
                                  {
                                new SelectListItem() {Text="Tulen kindlasti!", Value=bool.TrueString},
                                new SelectListItem() {Text="Kahjuks ei saa tulla!", Value=bool.FalseString}
                                          },
                                  new { @class = "form-control" })
    </div>

    <button type="submit" class="btn btn-primary">Saada vastus</button>
}