@model Kutsung.Models.KylalinePeole

@{
    ViewBag.Title = "Redigeerimine registreeritud peole";
}

<h2>Redigeerimine registreeritud peole</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>KylalinePeole</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.KylalinePeoleId)

    @*<div class="form-group">
            @Html.LabelFor(model => model.KylalineId, "KylalineId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("KylalineId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.KylalineId, "", new { @class = "text-danger" })
            </div>
        </div>*@
    <div class="form-group">
        @Html.LabelFor(model => model.KylalineId, "KylalineId", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.KylalineId, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.KylalineId, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        @Html.LabelFor(model => model.PeoId, "PeoId", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("PeoId", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.PeoId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Salvesta" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Tagasi registreerimis lehele", "RegistreeritudKylalisedPeol")
</div>
