@model Kutsung.Models.Peo

@{
    ViewBag.Title = "Kustuta";
}

<h2>Kustuta</h2>

<h3>Kas te olete kindel, et tahate kustutada?</h3>
<div>
    <h4>Peo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Pidu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pidu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kuupaev)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kuupaev)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Kustuta" class="btn btn-default" /> |
            @Html.ActionLink("Tagasi peode leheküljele", "Peod")
        </div>
    }
</div>
