@model Kutse_App.Models.Kylaline

@{
    ViewBag.Title = "Tänud!";
}

<h2>Thanks</h2>

<div>
    <p> Tänan sind, @Model.Nimi, @Model.Tuleb</p>
</div>

<div>
    @if (Model.Tuleb == true)
    {
        <div class="alert alert-success" role="alert">
            Ootan sind, @Model.Nimi, peole!
        </div>
        <p>
            <img src="~/Images/roomusnagu.jpg" width="360" height="360" />
        </p>

        <form method="post" action="@Url.Action("Tuletameelde", "Home")">
            @Html.HiddenFor(model => model.Nimi)
            @Html.HiddenFor(model => model.Email)
            @Html.HiddenFor(model => model.Tuleb)
            <button type="submit" class="btn btn-primary">Meenuta tulema</button>
        </form>
    }
    else
    {
        <div class="alert alert-danger" role="alert">
            Väga kurb uudis. Näeme hiljem!
        </div>
        <p>
            <img src="~/Images/kurbnagu.jpg" width="360" height="360" />
        </p>
    }

    @ViewBag.Message
</div>